node_modules/
dist/
docs/
miniprogram_npm/
images-compressed/
cdn-manifest.json

.idea/
.settings/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

test/unit/coverage
test/e2e/reports

*.tsbuildinfo
.env
.env.local
.env.*.local

typings/wx/
